main{
    margin: 70px;
    background-color: #FCA311;
    border-radius: 30px;
    padding: 30px;
}

h1{
    color: #14213D;;
}

.dog-banho{
    border-radius: 30px;
    margin-left: 450px ;
    margin-top: 40px;
}